.projects-section {
  background-color: rgba(161, 218, 208, 0.6);
}

.projects-section ul {
  width: 90%;
  text-align: center;
  padding-bottom: 1em;
  display: grid;
  grid-gap: 2em;
  margin: auto;
}

@media (min-width: 750px) {
  .projects-section ul {
    grid-template-columns: 1fr 1fr;
  }
}
