.projects-section {
  background-color: rgba(161, 218, 208, 0.6);
  padding-bottom: 4vh;

  ul {
    width: 80%;
    text-align: center;
    padding-bottom: 1em;
    margin: auto;
  }
}

@media (min-width: 1130px) {
  .projects-section {
    ul {
      display: grid;
      align-items: center;
      grid-column-gap: 5%;
      row-gap: 1%;
      grid-template-columns: 1fr 1fr 1fr;
      justify-self: end;
      margin: 0 auto;
    }
  }
}
