.project-card {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);

  img {
    width: 100%;
  }

  .info {
    margin-top: 1em;
    padding: 0 2rem 1rem 2rem;
    .name {
      font-weight: 700;
      font-size: 1.5em;
      margin-top: 0.4em;
      margin-bottom: 0.6em;
    }
    .tools span {
      display: inline-block;
      margin: 0.3em 0.6em;
      font-size: 1em;
      color: var(--gray);
    }

    p {
      margin: 1rem 0;
      line-height: 1.5rem;
    }

    .links {
      margin: 1em auto;
      width: 100%;
      font-size: 0.8rem;
      a {
        margin: 0 3%;
        display: inline-block;
      }
    }
  }
}

@media (max-width: 1130px) {
  .project-card {
    height: 105%;
  }
}

@media (max-width: 500px) {
  .project-card .info .links a {
    font-size: 0.7em;
    &:hover {
      background-color: var(--dark-orange);
      color: white;
      text-decoration: underline;
    }
  }
}
