.project-card {
  height: auto;
  width: 80%;
  border-radius: 10px;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 1vh auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.project-card img {
  width: 100%;
}

.project-card .info {
  margin-top: 1em;
}
.project-card .info .name {
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}
.project-card .info .tools span {
  margin: 0 0.6em;
  font-size: 0.7em;
  color: var(--gray);
}

.project-card .info .links {
  margin: 1.5em 0;
}
.project-card .info .links a {
  color: black;
  text-decoration: none;
  margin: 0 5%;
}
.project-card .info .links a:hover {
  background-color: var(--dark-orange);
  color: white;
  text-decoration: underline;
}
