@use 'variables' as v;

.social-link {
  width: 100%;

  & > svg {
    width: 50%;
    fill: white;
    transition: all 100ms;

    &:hover {
      fill: v.$highlight-yellow;
    }
  }
}

.social-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section-heading {
  position: relative;
  .section-circle {
    position: absolute;
    background-color: rgba(232, 175, 48, 0.3);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    z-index: -1;
    top: -1rem;
    left: -1rem;
  }
  h2 {
    font-weight: 700;
    font-size: 3rem;
  }

  margin: 1rem;
}
