.skill-card {
  width: 100%;
  padding: 1em 0;
  border-color: rebeccapurple;

  .wrapper {
    display: flex;
  }

  svg {
    width: 10%;
    height: auto;
    margin-right: 2em;
  }

  .content {
    margin: auto 0;

    .name {
      font-weight: 800;
      margin-bottom: 15%;
      font-size: 1.5em;
    }
  }
}
