.skill-card {
  width: 100%;
  padding: 1em 0;
  border-color: rebeccapurple;
}

.skill-card .wrapper {
  display: flex;
}

.skill-card svg {
  width: 10%;
  height: auto;
  margin-right: 2em;
}

.skill-card .content {
  margin: auto 0;
}
.skill-card .content .name {
  font-weight: 800;
  margin-bottom: 15%;
  font-size: 1.5em;
}
