.skill-list {
  padding: 0 5vw;
  display: grid;
  grid-gap: 20px;
}

@media (min-width: 800px) {
  .skill-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .skill-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1800px) {
  .skill-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 2500px) {
  .skill-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
