.social-list {
  margin: 1em 0;
  text-align: center;
  transition: all 100ms ease-in;
}
.social-list li {
  display: inline;
  margin: 0 13px;
}
.social-list li svg {
  width: 15%;
  height: auto;
  transition: all 100ms ease-in;
}
.social-list li svg:hover {
  fill: var(--yellow);
}
