.about {
  background: linear-gradient(rgba(69, 155, 186, 0), rgba(161, 218, 208, 0.6));

  img {
    width: 70%;
    margin: 0 15%;
  }

  .content {
    text-align: center;
    padding-bottom: 1em;
    width: 100%;
    height: 100%;

    h3 {
      font-style: italic;
      font-weight: 700;
      font-size: 45px;
      margin-top: 1.5em;
    }
    p {
      padding: 0 5%;
      line-height: 1.4em;
      margin: 1em;
      font-size: 20px;
      font-weight: 300;

      b {
        font-weight: 600;
      }
    }
  }
}

@media (min-width: 900px) {
  .about .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding: 1.5em 5%;
    width: 90%;
    margin: 0;

    img {
      width: 35%;
      height: 35%;
      margin: 0;
    }

    h3 {
      margin: 0;
      padding: 0 5%;
    }

    p {
      width: 100%;
      align-self: flex-start;
      margin: 1em 0;
      font-size: 1.5vw;
    }
  }
}
