.about {
  background: linear-gradient(rgba(69, 155, 186, 0), rgba(161, 218, 208, 0.6));
}

.about img {
  width: 70%;
  margin: 0 15%;
}

.about .content {
  text-align: center;
  padding-bottom: 1em;
}
.about .content h3 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 1.5em;
}
.about .content p {
  padding: 0 5%;
  line-height: 1.4em;
  margin: 1em;
  font-size: 0.9em;
}
