.about {
  background: linear-gradient(rgba(69, 155, 186, 0), rgba(161, 218, 208, 0.6));
}

.about img {
  width: 70%;
  margin: 0 15%;
}

.about .content {
  text-align: center;
  padding-bottom: 1em;
}
.about .content h3 {
  font-style: italic;
  font-weight: 700;
  font-size: 4vw;
  margin-top: 1.5em;
}
.about .content p {
  padding: 0 5%;
  line-height: 1.4em;
  margin: 1em;
  font-size: 3vw;
  font-weight: 300;
}
.about .content p b {
  font-weight: 600;
}

@media (min-width: 900px) {
  .about .content {
    display: flex;
    justify-content: flex-start;

    text-align: left;
    padding: 1.5em 5%;
  }
  .about .content img {
    width: 40%;
    height: 40%;
    margin: 0;
    align-self: center;
  }
  .about .content h3 {
    margin: 0;
    padding: 0 5%;
  }
  .about .content p {
    align-self: flex-start;
    margin: 1em 0;
    font-size: 2vw;
  }
}
