:root {
  --light-blue: #a1dad0;
  --primary-blue: #5ebabc;
  --dark-blue: #459ab9;
  --yellow: #fce555;
  --orange: #f8ce47;
  --dark-orange: #f5b840;
  --gray: #808080;
  --dark-gray: #696969;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: solid black 1px;
  font-weight: 700;
  font-size: 2.8em;
}

button,
.button-style {
  border: solid 1px var(--dark-orange);
  background-color: transparent;
  padding: 0.4em 1.2em;
  cursor: pointer;
  transition: all 100ms ease-in;
  font-weight: 700;
}
button:hover,
button.active {
  background-color: var(--dark-orange);
  color: white;
}
button:hover {
  text-decoration: underline;
}
