.nav-desktop {
  width: 100vw;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  padding: 1vh 3vw;

  img {
    width: 7%;
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-weight: 300;
    font-size: 1.6em;

    .nav-options:hover {
      transition: all 100ms ease-in;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
