.nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100vw;
  padding: 1vh 5vw;
  background-color: rgba(255, 255, 255, 0.98);
  position: fixed;
  z-index: 1;

  img {
    height: 80%;
  }
  svg {
    height: 60%;
    cursor: pointer;
    &:hover {
      fill: var(--yellow);
    }
  }
}
